*.mat
*.txt
*.TXT
*.fig
*.png
old_code/*
*.klog
*.alog
*.pkl
*.csv
figure/*
ICEX_src_newssp/*
mfp/*
*.xlsx
model/arctic_bb/*
model/cnnc_norm_new_iter/*
model/cnnr_norm_new_iter/*
*.bdr
*.tsv
ouput_files/*
swellex/ctds/*
*.prn
swellex/figures/*
swellex/gps/*
*.log
*.data
*.ps
*.h5
*.sio
swellex/shallow/*
*_checkpoints