*.mat
*.txt
*.TXT
*.fig
*.png
*.jpg
*.eps
old_code/*
*.klog
*.alog
*.pkl
*.csv
figures/*
ICEX_src_newssp/*
mfp/*
*.xlsx
models/arctic_bb/*
models/cnnc_norm_new_iter/*
models/cnnr_norm_new_iter/*
*.bdr
*.tsv
output_files/*
swellex/ctds/*
*.prn
swellex/figures/*
swellex/gps/*
*.log
*.data
*.ps
*.h5
*.sio
swellex/shallow/*
swellex/range/*
swellex/S5_data/*